html, body {
	margin: 0 !important;
	padding: 0 !important;
	max-width: 100%;
	overflow-x: hidden;
}


#header-img {
	min-width: 100%;
	height: auto;
	z-index: -1;
	position: relative;
}

.header-img {
	display: block;
	position: relative;
	height: auto;
	background-size: cover;
	min-width: 100%;
	background: -webkit-linear-gradient(top, rgba(7, 30, 61, 0.71) 0%, rgba(22, 92, 113, 0.57) 40%, rgba(40, 170, 175, 0.39) 80%, rgba(47, 204, 204, 0.31) 100%);
	background: -o-linear-gradient(top, rgba(7, 30, 61, 0.71) 0%, rgba(22, 92, 113, 0.57) 40%, rgba(40, 170, 175, 0.39) 80%, rgba(47, 204, 204, 0.31) 100%);
	background: -ms-linear-gradient(top, rgba(7, 30, 61, 0.71) 0%, rgba(22, 92, 113, 0.57) 40%, rgba(40, 170, 175, 0.39) 80%, rgba(47, 204, 204, 0.31) 100%);
	background: -moz-linear-gradient(top, rgba(7, 30, 61, 0.71) 0%, rgba(22, 92, 113, 0.57) 40%, rgba(40, 170, 175, 0.39) 80%, rgba(47, 204, 204, 0.31) 100%);
	background: linear-gradient(to bottom, rgba(7, 30, 61, 0.71) 0%, rgba(22, 92, 113, 0.57) 40%, rgba(40, 170, 175, 0.39) 80%, rgba(47, 204, 204, 0.31) 100%);
	-webkit-user-select: none;         
	-moz-user-select: none; 
	-ms-user-select: none; 
	-o-user-select: none;
	user-select: none;			
}


.container-fluid {
	width: 85%;
}

.navbar-brand {
	font-size: 35px;
	color: #ffffff !important;
}

.navbar {
	width: 100%;
	padding-top: 20px;
   	background-color: transparent;
   	background: transparent;
   	border-color: transparent;
   	z-index: 2;
   	position: absolute;
}
		

.nav li a {
    font-family: 'Roboto', sans-serif;
    color: #ffffff !important;  
    font-size: 19px;
}

.nav li a:hover {
    border-bottom: 3px solid #EDA70B;
}


.nav li {
	padding-left: 40px;
}

.nav-logo {
	margin-right: 20px;
}

.header-text {
	color: #ffffff;
	font-family: 'Roboto', sans-serif;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	margin: 0 auto;
}

.first-text {
	font-size: 100px;
}

.second-text {
	font-size: 85px;
}

.third-text-wrapper {
	font-size: 20px;
	top: 60px;
	position: relative;
}

.header-button{
	height: 60px;
	width: 130px;
	background-color: #ffffff;
	top: 150px;
	position: relative;
	border-radius: 10px;
	transition: background-color 0.5s ease;
}

.header-button:hover {
	background-color: #EDA70B; 
}

.header-button a{
	padding-top: 16px;
	right: 15px;
	position: relative;
	text-decoration: none;
	font-size: 20px;
	color: #EDA70B;
	display: block;
	height: 60px;
	width: 130px;
	margin: 0 auto;
	font-family: 'Roboto', sans-serif;
	-moz-user-select: text;
	-khtml-user-select: text;
	-webkit-user-select: text;
	-ms-user-select: text;
	user-select: text;
	transition: color 0.5s ease;

}

.header-button:hover a{
	color: #ffffff;
}


#header-text {
	text-align: center;
	position: absolute;
	top: 300px;
	width: 100%;
	min-width: 100%;
}

.info {
	margin: 0 auto;
	min-width: 100%;
	text-align: center;
}

.info div {
	position: relative;
	display: inline-block;
	padding-left: 100px;
	padding-right: 100px;
	text-align: center;
}

.info div div {
	padding-bottom: 30px;
}

.roboto {
	font-family: 'Roboto', sans-serif;
}
.icon-text {
	position: relative;
	font-size: 23px;
	color: #4A4A4A;
}

.icon-title {
	font-weight: bold;
	font-size: 18px;
}

.success {
	width: 82%;
	margin: 0 auto;
	margin-top: 100px;
}

.collaboration {
	width: 82%;
	margin: 0 auto;
	margin-top: 100px;
}

.header-title {
	color: #4A4A4A;
	font-size: 42px;
}

.border-down {
	margin-top: 20px;
	width: 80px;
	border-top: 7px solid #EDA70B;
}

.people {
	text-align: center;
	margin-bottom: 70px;
}

.logo {
	margin-bottom: 60px;
}
@media (max-width: 1600px) {
	.nav li {
		padding-left: 20px;
	}

	.nav li a {
		font-size: 20px;
	}

	.navbar-brand {
		font-size: 25px;
	}	

	.container-fluid {
		width: 90%;
	}

	#header-text {
		top: 250px;
	}

	.info div {
		padding-left: 50px;
		padding-right: 50px;
	}

	.success {
		width: 90% !important;
	}

	.collaboration {
		width: 90% !important;
	}
}

@media (max-width: 1366px) {
	.nav li {
		padding-left: 0px;
	}

	.nav li a {
		font-size: 15px;
	}

	.navbar-brand {
		font-size: 15px;
	}

	.first-text {
		font-size: 80px;
	}

	.second-text {
		font-size: 55px;
	}

	.third-text-wrapper {
		font-size: 15px;
		margin-top: 40px;
	}

	#header-text {
		top: 200px;
	}

	.info div {
		padding-left: 30px;
		padding-right: 30px;
	}

	
	
}

@media (max-width: 1024px) {
	.nav li {
		padding-left: 0px;
	}

	.nav li a {
		font-size: 12px;
	}

	.navbar-brand {
		font-size: 12px;
	}	

	.container-fluid {
		width: 100%;
	}	

	#header-text {
		top: 150px;
	}

}

@media (max-width: 768px) {
	.container-fluid {
		width: 100%;
	}			

	.navbar-brand {
		font-size: 18px;
		color: black !important;
	}

	.navbar {
	   	background-color: #ffffff;
	   	background: #ffffff;
	   	border-color: #ffffff;
	   	padding-top: 0px;
	   	position: fixed;

	}

	.nav li a {
	    font-family: 'Roboto', sans-serif;
	    color: black !important;  
	    font-size: 19px;
	    margin-left: 
	}

	.nav li a:hover {
	    border-bottom: none;
	}

	.header-img { 
		overflow-x: hidden;
		max-width: 100%;
	}

	#header-img {
		min-width: 100% !important;
	}

	#header-text {
		top: 100px;
	}

	.third-text-wrapper {
		top: 0px;
	}

	.header-button{
		top: 20px;
	}

	.first-text {
		font-size: 60px;
	}

	.second-text {
		font-size: 40px;
	}

	.border-top {
		width: 20px;
		border-top: solid 5px #EDA70B;
	}

	.nav-logo img {
		height: 30px;
		width: 30px;
		top: 10px;
		left: 10px;
		position: relative;
		float: left;
	}

	.success {
		width: 100% !important;
		text-align: center;
		height: auto;
		width: auto;
	}

	.collaboration {
		width: 100% !important;
		text-align: center;
		height: auto;
		width: auto;
	}


}
